body
{
    background-color: #0a0a0a;
}

h1
{
    margin: 20% auto auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    color: ghostwhite;
}

iframe 
{
        width:1000px;
        height: 700px;
        border-style:none;
}